@import "@fontsource/stix-two-text/400.css";
@import "@fontsource/stix-two-text/700.css";
@import "@fontsource/stix-two-math/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


blockquote {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border-left: 7px solid #9ca3af;   /* slate-400 */
  background: #f2f3f5;              /* gray-100 */
  color: #28303c;                   /* gray-700 */
}

